main {
  height: 100%;
  display: flex;

  .left {
    width: 32rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .tags {
      height: 1.5rem;
      display: flex;
      gap: 1rem;

      .tag {
        font-size: 0.8rem;
        color: var(--extra-text);
        background: var(--extra-bg);
        padding: 0.2rem 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
      }
    }

    .main-img {
      width: 100%;
      aspect-ratio: 1 / 1;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .img-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;

      .img-holder {
        width: 100%;
        aspect-ratio: 1 / 1;
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }

    .filler {
      width: 100%;
      background: var(--extra-bg);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  .right {
    min-width: 40%;
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;

    .model-name {
      font-size: 3rem;
      font-weight: 300;
    }

    .model-rating {
      color: var(--extra-text);
      font-weight: 700;
    }

    .model-cost {
      font-size: 4rem;
      font-weight: 500;
    }

    .model-colors {
      margin-top: 2rem;
      display: flex;
      gap: 1rem;

      .img-wrapper {
        width: 6rem;
        aspect-ratio: 1 / 1;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }

    .model-sizes {
      margin-top: 2rem;
      max-width: 22rem;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      .size {
        font-size: 0.8rem;
        color: var(--extra-text);
        background: var(--extra-bg);
        padding: 0.2rem 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
      }

      .active-size {
        font-size: 0.8rem;
        color: var(--main-bg);
        background: var(--main-text);
        padding: 0.2rem 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
      }
    }

    .duo-button {
      margin-top: 2rem;
      display: flex;
      gap: 1rem;

      .cart {
        width: 32rem;
        padding: 0.5rem 0;
        background: var(--extra-bg);
        border-radius: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        cursor: pointer;

        img {
          height: 2rem;
        }
      }

      :disabled {
        cursor: not-allowed;
      }

      .favourite {
        padding: 0.5rem;
        background: var(--main-text);
        border-radius: 0.25rem;
        cursor: pointer;

        img {
          height: 2rem;
          filter: invert(1);
        }
      }
      :disabled {
        cursor: not-allowed;
      }
    }
  }
}
