@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");
main {
  height: 100%;
  display: flex;
}
main .left {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .left .tags {
  height: 1.5rem;
  display: flex;
  gap: 1rem;
}
main .left .tags .tag {
  font-size: 0.8rem;
  color: var(--text-c);
  background: var(--bg-c);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
main .left .main-img {
  height: 60%;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
}
main .left .main-img img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
main .left .img-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
main .left .img-wrapper .img-holder {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
}
main .left .img-wrapper .img-holder img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
main .left .filler {
  width: 100%;
  background: var(--bg-c);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main .right {
  min-width: 40%;
  padding-top: 3.5rem;
  display: flex;
  flex-direction: column;
}
main .right .model-name {
  font-size: 3rem;
  font-weight: 300;
}
main .right .model-rating {
  color: var(--text-c);
  font-weight: 700;
}
main .right .model-cost {
  font-size: 4rem;
  font-weight: 500;
}
main .right .model-colors {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
main .right .model-colors .img-wrapper {
  width: 6rem;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
main .right .model-colors .img-wrapper img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
main .right .model-sizes {
  margin-top: 2rem;
  max-width: 22rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
main .right .model-sizes .size {
  font-size: 0.8rem;
  color: var(--text-c);
  background: var(--bg-c);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
main .right .model-sizes .active-size {
  font-size: 0.8rem;
  color: var(--bg-a);
  background: var(--text-a);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
main .right .duo-button {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
main .right .duo-button .cart {
  width: 32rem;
  padding: 0.5rem 0;
  background: var(--bg-c);
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}
main .right .duo-button .cart img {
  height: 2rem;
}
main .right .duo-button :disabled {
  cursor: not-allowed;
}
main .right .duo-button .favourite {
  padding: 0.5rem;
  background: var(--text-a);
  border-radius: 0.25rem;
  cursor: pointer;
}
main .right .duo-button .favourite img {
  height: 2rem;
  filter: invert(1);
}
main .right .duo-button :disabled {
  cursor: not-allowed;
}

:root {
  --font-jetbrains-mono: "JetBrains Mono", monospace;
}

html {
  font-family: "JetBrains Mono";
  color: var(--text-a);
  background: var(--bg-a);
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

svg {
  filter: invert(var(--svg-invert));
}

:root {
  --main-header-bg: #239dce;
  --sub-header-bg: #0c5096;
  --main-header-text: #ffffff;
  --sub-header-text: #000000;
}

:root [data-theme=dark] {
  --bg-a: #131414;
  --bg-b: #1e1e1e;
  --bg-c: #333333;
  --bg-d: #424242;
  --text-a: #fffffe;
  --text-b: #69686a;
  --text-c: #5c5c5c;
  --main-accent: #1c274c;
  --sub-accent: #29396d;
  --extra-accent: #000000;
  --transparent: #00000000;
  --svg-invert: 1;
}

[data-theme=light] {
  --bg-a: #ffffff;
  --bg-b: #f9f9f9;
  --bg-c: #f2f2f2;
  --bg-d: #dadada;
  --text-a: #131414;
  --text-b: #242424;
  --text-c: #424242;
  --main-accent: #260c79;
  --sub-accent: #524594;
  --extra-accent: #000000;
  --transparent: #00000000;
  --svg-invert: 0;
}/*# sourceMappingURL=main.css.map */