// IMPORTS
@use "../pages/product/product_main";

// FONT
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --font-jetbrains-mono: "JetBrains Mono", monospace;
}
html {
  font-family: "JetBrains Mono";
  color: var(--text-a);
  background: var(--bg-a);
  overflow: hidden;
}

// RESET
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, ol {
  list-style: none;
}
svg {
  filter: invert(var(--svg-invert));
}

// VARIABLES
:root[data-home-theme="green"] {
  --main-header-bg: #b7cfbe;
  --sub-header-bg: #94b19d;
  --main-header-text: #ffffff;
  --sub-header-text: #000000;
}
:root[data-home-theme="pink"] {
  --main-header-bg: #d9753b;
  --sub-header-bg: #87224f;
  --main-header-text: #ffffff;
  --sub-header-text: #000000;
}
:root[data-home-theme="blue"] {
  --main-header-bg: #239dce;
  --sub-header-bg: #0c5096;
  --main-header-text: #ffffff;
  --sub-header-text: #000000;
}
:root[data-home-theme="yellow"] {
  --main-header-bg: #facb3f;
  --sub-header-bg: #107720;
  --main-header-text: #ffffff;
  --sub-header-text: #000000;
}

// DARK THEME
:root[data-theme="dark"] {
  // bg
  --bg-a: #131414;
  --bg-b: #1e1e1e;
  --bg-c: #333333;
  --bg-d: #424242;
  // text
  --text-a: #fffffe;
  --text-b: #cecece;
  --text-c: #8d8d8d;
  // accent
  --accent-a: #1c274c;
  --accent-b: #29396d;
  --accent-c: #000000;
  // extra
  --transparent: #00000000;
  --svg-invert: 1;
}

// LIGHT THEME
[data-theme="light"] {
  // bg
  --bg-a: #ffffff;
  --bg-b: #f9f9f9;
  --bg-c: #f2f2f2;
  --bg-d: #dadada;
  // text
  --text-a: #131414;
  --text-b: #242424;
  --text-c: #424242;
  // accent
  --accent-a: #c1b4ee;
  --accent-b: #796cb8;
  --accent-c: #000000;
  // extra
  --transparent: #00000000;
  --svg-invert: 0;
}

// lang
:root[lang="ru"] {
  --sortBy: "Сортировка";
  --releaseDate: "Дата появления";
  --name: "Название";
  --brand: "Бренд";
  --colors: "Цвета";
  --rating: "Рейтинг";
  --gender: "Пол";
  --price: "Стоимость";
  --home: "ГЛАВНАЯ";
  --catalog: "КАТАЛОГ";
  --favourites: "ИЗБРАННОЕ";
  --basket: "КОРЗИНА";
  --settings: "НАСТРОЙКИ";
  --lang: "Язык";
  --common-theme: "Основная тема";
  --home-screen-theme: "Тема главной страницы";
  --ru: "русский";
  --en: "английский";
  --dark: "темная";
  --light: "светлая";
  --green: "зеленая";
  --pink: "розовая";
  --blue: "синяя";
  --yellow: "желтая";
  --all: "всё";
  --rub: "руб";
  --seeMore: "еще";
  --on: "на";
  --reviews: "отзывов";
  --addToCart: "В корзину";
  --logout: "Выйти из аккаунта";
  --loading: "Загрузка истории...";
  --emptyOrderHistory: "История заказов пуста";
  --order: "Заказ";
  --totalCost: "Общая стоимость";
  --emptyBasket: "Корзина пуста";
  --emptyFavourite: "Избранных нет";
  --notAuthorized: "Вы не авторизованы";
  --makePurchase: "Оформить заказ";
  --noAcc: "Нет аккаунта? Давайте зарегистрируем";
  --alreadyAcc: "Уже есть аккаунт? Давайте войдем";
  --placeholderReg: "Как нам к вам обращаться?";
  --login: "Войти";
  --register: "Зарегестрироваться";
  --passErr: "Пароль должен быть минимум из 6 символов";
  --nameErr: "Пароль должно быть минимум из 3 символов";
  --reuseErr: "Такая почта уже занята";
}

:root[lang="en"] {
  --sortBy: "Sort by";
  --releaseDate: "Release date";
  --name: "Name";
  --brand: "Brand";
  --colors: "Colors";
  --rating: "Rating";
  --gender: "Gender";
  --price: "Price";
  --home: "HOME";
  --catalog: "CATALOG";
  --favourites: "FAVOURITE";
  --basket: "BASKET";
  --settings: "SETTINGS";
  --lang: "Language";
  --common-theme: "Common theme";
  --home-screen-theme: "Home screen theme";
  --ru: "russian";
  --en: "english";
  --dark: "dark";
  --light: "light";
  --green: "green";
  --pink: "pink";
  --blue: "blue";
  --yellow: "yellow";
  --all: "all";
  --rub: "rub";
  --seeMore: "see more";
  --on: "on";
  --reviews: "reviews";
  --addToCart: "Add to cart";
  --logout: "Log Out";
  --loading: "Loading history...";
  --emptyOrderHistory: "Order history is empty";
  --order: "Order";
  --totalCost: "Total cost";
  --emptyBasket: "No sneakers in basket";
  --emptyFavourite: "No sneakers in favourite";
  --notAuthorized: "You are not authorized";
  --makePurchase: "Make purchase";
  --noAcc: "No account? Go to registration";
  --alreadyAcc: "Already have account? Go to login";
  --placeholderReg: "How should we call you?";
  --login: "Login";
  --register: "Register";
  --passErr: "Password should contain at least 6 digits";
  --nameErr: "Name should contain at least 3 digits";
  --reuseErr: "Email already taken";
}
